body {
  font-family: poppins;
  background-color: #402e7a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}

.card{
    background-color: #402e7a;
    color: #ffff;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
